
.body {
    max-width: 1600px;
    margin: 0 auto; 
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

.navbar-nav .nav-item {
  padding: 0 50px;
}

button {
  padding: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
} 

#Home, #About {
  justify-content: center;
  align-items: center;
  text-align: center;
} 


.nav-item {
    display: flex;
    margin: 0;
    align-items: center;
    padding-right: 80px;
}

.logo {
  padding-left: 10px;
}

.text1 {
  font-size: 70px;
}

.img {
  transition: transform 0.25s ease;
}
.img:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}
.img1 {
  transition: transform 0.25s ease;
}
.img1:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}
.img2 {
  transition: transform 0.25s ease;
}
.img2:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) 
}

.cert1 {
  transition: transform 0.25s ease;
}
.cert1:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}

.cert2 {
  transition: transform 0.25s ease;
}
.cert2:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}

.cert3 {
  transition: transform 0.25s ease;
}
.cert3:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}

.cert4 {
  transition: transform 0.25s ease;
}
.cert4:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}

.cert5 {
  transition: transform 0.25s ease;
}
.cert5:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}

.cert6 {
  transition: transform 0.25s ease;
}
.cert6:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}

.cert7 {
  transition: transform 0.25s ease;
}
.cert7:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}

.cert8 {
  transition: transform 0.25s ease;
}
.cert8:hover {
  -webkit-transform:scale(1.5) ;
  transform:scale(1.5) ;
}

